<!-- Main -->
<div id="preview">
    <div *ngIf="loading" class="loading-spinner">
        <loading-spinner></loading-spinner>
    </div>
    <div class="inner" *ngIf="!loading">
        <div class="image fit">
            <img (load)="onImageLoad()" [@animationState]="imageState"
                [src]="catalogItem ? catalogItem.src : 'null'"
            [alt]="catalogItem ? catalogItem.src : 'Image'" />
        </div>
        <div class="content">
            <header>
                <h2>{{catalogItem ? catalogItem.category : 'New Item'}}</h2>
                <h3>{{catalogItem ? catalogItem.updated_at : null | date:'fullDate'}}</h3>
            </header>
            <p>
                {{catalogItem ? catalogItem.description : 'NA'}}
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae,
                rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna
                lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget,
                pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi
                vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula
                velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.
            </p>
        </div>
    </div>
    <a class="nav previous" cssPointer (click)="loadPage(false)"><span class="fa fa-chevron-left"></span></a>
    <a class="nav next" cssPointer (click)="loadPage(true)"><span class="fa fa-chevron-right"></span></a>
</div>